@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* navbar start */
.container{
  width: 1280px;
  margin: 20px auto;
}
/* navbar start */

#navbar{
  background-color: #FFF;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar_left{
  display: flex;
  align-items: center;
  gap: 10px;
 
}
.navbar_right{
  display: flex;
  align-items: center;
 gap: 15px;

}
.logo{
  width: 56px;
  height: 56px;
  background-color: hwb(271 17% 11%);
  display: flex;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 62.5rem;
}
.logo span{
  
color: var(--Gray-White, #FFF);
font-family: Poppins;
font-size: 1.5rem;
font-style: normal;
font-weight: 500;
line-height: 3.5rem
}
h3{
  font-family: "Work Sans", "sans-serif";
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 2.5rem
}
.navbar_link{
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: #333;
  font-family: "Work Sans", "sans-serif";
}

.navbar_link span{
font-family: "Work Sans";
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: 1.5rem
}
.navbar_link_btn{
  background-color: hwb(271 17% 11%);
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 0.25rem;
}
.navbar_link_btn span{
  color: var(--Gray-White, #FFF);
/* Body/Regular/600 */
font-family: "Work Sans";
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 1.5rem

}

/* section 1 start */
.hero-dis{
  display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: space-around;

}
.charli{
display: flex;
gap: 3%;
margin: 10%;
padding: 5%;
background: var(--Gray-50, #F0F1F3);
font-family: "Work Sans";
}
.right_1{

}
.charli_btn{
  background-color: hwb(271 17% 11%);
padding: 12px 24px;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 0.25rem;
font-family: Poppins;
color: #FFF;
font-size: 15px;
}
.charli_1{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.375rem;
border: 1px solid var(--Gray-White, #FFF);
background: rgba(237, 216, 255, 0.50)
}
 
.box_a{
  width: 12.5rem;
  color: var(--Gray-700, #424E60);
text-align: center;
font-family: "Work Sans";
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: 2.5rem;

}
.box_b{
  width: 12.5rem;
  color: var(--Gray-500, #697484);
text-align: center;
font-family: "Work Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
}

/* section 2 start */

.alpha{
  
  margin: 10%;
  gap: 10%;
  display: flex;
}
.alpha_icon{
 display: inline-flex;
 margin-top: -30px;
 color:hwb(271 17% 11%) ;
 padding: 12px;
 background: #FFF;
 border-radius: 4%;
 box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
 gap: 20px;
}
.left{
  align-items: center;
  justify-items: center;
  justify-content: center;
  
}
.right{
  color: var(--Gray-900, #132238);
  font-family: "Work Sans";
  font-size: 2.375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.125rem;
  align-self: stretch;
  width: 50%;

}
.pro_btn{
display: flex;
gap: 5%;
}
.alpha_btn1{
size: 10%;
padding: 0.75rem 1.5rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 0.25rem;
background: var(--Primary-500, #A53DFF);
color: #FFF;
}
.alpha_btn2{
  display: flex;
  border-radius: 0.25rem;
  border: 1px solid var(--Primary-500, #A53DFF);
  background: var(--Gray-White, #FFF);
padding: 0.75rem 1.5rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
}

/* section 3 start  */

.w_p{
  margin: 13%;
  padding: 15.5rem 18.75rem 8.75rem 18.75rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}
.w_p_con{
  display:flex;
justify-content: center;
align-items: center;
margin: -28%;
padding: 8%;
align-items: flex-start;
gap: 0.625rem;
background: var(--Gray-50, #F0F1F3);
}
.w_p_left{
  display: flex;
  flex-direction: column;
align-items: center;
justify-content: center;
width: 90%;
}
.w_p_left_h6{
  color: var(--Gray-900, #132238);
  font-family: "Work Sans";
font-size: 3rem;
font-style: normal;
font-weight: 600;
line-height: 3.5rem;

}
.w_p_left_p1{
  width: 33.0625rem;
  color: var(--Gray-500, #697484);
  font-family: "Work Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
}
.w_p_left_p2{
  width: 33.0625rem;
  color: var(--Gray-500, #697484);
  font-family: "Work Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem;
}
.w_p_right{
display: flex;
  gap: 24px;
 
}
.w_p_right_box{
  border-radius: 0.75rem;
  background: var(--Gray-White, #FFF);
  box-shadow: 32px 32px 124px 0px rgba(43, 56, 76, 0.10);
background-color: #FFF;
padding: 2rem;
}
.w_p_right_iq{

}
.w_p_right_h6{
  color: var(--Gray-900, #132238);
  font-family: "Work Sans";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}
.w_p_right_p{
  color: var(--Gray-600, #556070);
  font-family: "Work Sans";
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; 
}
.rebox_l{
 display: flex;
 flex-direction: column;
 gap: 24px;
 margin-top: -29px;
}
.rebox_r{
  display: flex;
  flex-direction: column;
  gap: 24px;
 }

/* section 4 start */

 .prt{
margin: 15%;
 }
 .prt_head{
  display: flex;
flex-direction: column;
align-items: center;
 }
 .prt_head h5 {
  font-family: "Work Sans";
  font-size: 3rem;
  font-style: normal;
  margin: 1px;
 }
 .prt_head p{
  font-family: "Work Sans";
font-size: 1.125rem;
font-weight: 400;
line-height: 1.5rem;
color: var(--Gray-400, #87909D);
text-align: center;
 }
 .prt_box_all{
  padding: 0%;
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1.5rem;
 }
 .prt_box_line1{
  display: flex;
padding: 0rem 18.75rem;
justify-content: center;
align-items: center;
gap: 1.5rem;
 }
 .prt_box{
  display: flex;
padding-bottom: 2rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
border-radius: 0.5rem;
border: 1px solid var(--Gray-100, #E6E8EB);
background: var(--Gray-White, #FFF);
box-shadow: 0px 12px 64px 0px rgba(28, 25, 25, 0.12);
 }
 .prt_box img{
 width: 100%;
 }
 .prt_box p{
  color: var(--Gray-400, #87909D);
  font-family: "Work Sans";
font-size: 0.75rem;
font-style: normal;
font-weight: 500;
line-height: 1rem
 }
 .prt_box h5{
  color: var(--Gray-900, #132238);
  font-family: "Work Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: 1.5rem;
 }
 .prt_btn2{
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  background: var(--Primary-500, #A53DFF);
  color: #FFF;
  font-family: "Work Sans";
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1.5rem;
border-radius: 0.25rem;
border: none;
 }
 .asus{
  margin: 0%;
  padding: 0%;
 }
 /* idea section 5 start */
.idea{
  background-color: #062555;
  color: #FFF;
  font-family: "Work Sans";
font-style: normal;
text-align: center;
padding: 1%;
margin-top: 2%;
}
.idea h5{
  font-size: 400%;
}
.idea p{
  font-size: 150%;
}
.idea button{
  background-color: #A53DFF;
 border-radius: 0.25rem ;
 font-family: "Work Sans";
font-style: normal;
}

/* section 6 start */

.blog{
  margin: 5%;
}
.blog_h5{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Gray-900, #132238);
font-family: Poppins;
font-size: 5rem;
font-style: normal;
line-height: 1rem;
height: 120px;
}
.blog_p{
  color: var(--Gray-400, #87909D);
text-align: center;
font-family: "Public Sans";
font-size: 1.125rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.blog .prt_box{
  height: 5%;
  gap: 1px;
  padding: 1px;
}

